<div id="wo">
	<div class="denglu">
		<span class="lvlv"><img src="img/touxiang/2.jpg" alt=""></span>
		<div class="xiaoxi">
			<span class="tian">田家达</span>
			<span class="share">分享照片</span>
			<div class="hover">9小时前</div>
			<div class="zhuangtai">喝完雄黄酒</div>
			<span class="tu-p"><img src="img/touxiang/jia.jpg" alt=""></span>
			<span class="tu-p"><img src="img/touxiang/tian.jpg" alt=""></span>
			<div class="qu">
				<span class="zhuan"></span><p>3</p>
				<span class="zhuan1"></span><p>3</p>

			</div>
		</div>
	</div>
	<div class="denglu">
		<span class="lvlv"><img src="img/touxiang/2.jpg" alt=""></span>
		<div class="xiaoxi">
			<span class="tian">田家达</span>
			<span class="share">分享照片</span>
			<div class="hover">9小时前</div>
			<div class="zhuangtai">喝完雄黄酒</div>
			<span class="tu-p"><img src="img/touxiang/jia.jpg" alt=""></span>
			<span class="tu-p"><img src="img/touxiang/tian.jpg" alt=""></span>
			<div class="qu">
				<span class="zhuan"></span><p>3</p>
				<span class="zhuan1"></span><p>3</p>

			</div>
		</div>
	</div>	
</div>